---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Aquí hay una instantánea de las principales herramientas y tecnologías con las que trabajo:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Java</strong></li>
    <li><strong>JavaScript</strong></li>
    <li><strong>SQL</strong></li>
    <li><strong>HTML</strong></li>
    <li><strong>CSS</strong></li>
  </ul>
</Card>
